<div class="row">
    <div class="col">
        <div class="text-right mb-2">
            <button type="button" class="btn btn-primary" routerLink="/player/form">만들기</button>
        </div>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> 선수정보관리
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>클럽</th>
                        <th>등번호</th>
                        <th>본명</th>
                        <th>국적</th>
                        <th>동영상 등록수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of itemList" (click)="goDetail(item)">
                        <td>{{item.clubName}}</td>
                        <td>{{item.uniformNumber}}</td>
                        <td>{{item.playerName}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.videoCnt}}</td>
                    </tr>
                    </tbody>
                </table>
                <div id="tui-pagination-container" class="tui-pagination"></div>
            </div>
        </div>
    </div>
</div>
