<div class="row">
    <div class="col">
        <div class="text-right mb-2">
            <button type="button" class="btn btn-primary" routerLink="/clubBbs/form">만들기</button>
        </div>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> 클럽커뮤니티관리
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>조회수</th>
                        <th>등록일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of itemList" (click)="goDetail(item)">
                        <td>{{item.title}}</td>
                        <td>{{item.writer.username}}</td>
                        <td>{{item.views}}</td>
                        <td>{{item.writeDate | moment: 'yyyy.MM.DD hh:mm'}}</td>
                    </tr>
                    </tbody>
                </table>
                <div id="tui-pagination-container" class="tui-pagination"></div>
            </div>
        </div>
    </div>
</div>
