<div class="animated fadeIn">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <strong>회원정보</strong>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">최종접속일</label>
                        <div class="col-md-9">
                            <p class="form-control-static">2021-01-01</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">상태</label>
                        <div class="col-md-9">
                            <p class="form-control-static">정상 / 탈퇴</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="userId">아이디</label>
                        <div class="col-md-4">
                            <input type="text" id="userId" name="userId" class="form-control" [(ngModel)]="mbUser.userId">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                        <label class="col-md-1 col-form-label" for="password">비밀번호</label>
                        <div class="col-md-4">
                            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="mbUser.password">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="username">이름</label>
                        <div class="col-md-4">
                            <input type="text" id="username" name="username" class="form-control" [(ngModel)]="mbUser.username">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                        <label class="col-md-1 col-form-label" for="nickname">닉네임</label>
                        <div class="col-md-4">
                            <input type="text" id="nickname" name="nickname" class="form-control" [(ngModel)]="mbUser.nickname">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="tel">전화번호</label>
                        <div class="col-md-4">
                            <input type="text" id="tel" name="tel" class="form-control" [(ngModel)]="mbUser.tel">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                        <label class="col-md-1 col-form-label" for="email">이메일</label>
                        <div class="col-md-4">
                            <input type="text" id="email" name="email" class="form-control" [(ngModel)]="mbUser.email">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="zip">우편번호</label>
                        <div class="col-md-2">
                            <input type="text" id="zip" name="zip" class="form-control" [(ngModel)]="mbUser.zipcode">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="address1">주소1(기본주소)</label>
                        <div class="col-md-3">
                            <input type="text" id="address1" name="address1" class="form-control" [(ngModel)]="mbUser.address1">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                        <label class="col-md-2 col-form-label" for="address2">주소2(상세주소)</label>
                        <div class="col-md-4">
                            <input type="text" id="address2" name="address2" class="form-control" [(ngModel)]="mbUser.address2">
                            <!--<span class="help-block">This is a help text</span>-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">인증</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="identityVerify" name="identityVerify" [(ngModel)]="mbUser.identityVerify">
                                <label class="form-check-label" for="identityVerify">
                                    본인인증
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="emailVerify" name="emailVerify" [(ngModel)]="mbUser.emailVerify">
                                <label class="form-check-label" for="emailVerify">
                                    메일인증
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">동의</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="infoAgree" name="infoAgree"
                                       [(ngModel)]="mbUser.infoAgree">
                                <label class="form-check-label" for="infoAgree">
                                    정보수집동의
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="smsAgree" name="smsAgree" [(ngModel)]="mbUser.smsAgree">
                                <label class="form-check-label" for="smsAgree">
                                    SMS수신동의
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="emailAgree" name="emailAgree" [(ngModel)]="mbUser.emailAgree">
                                <label class="form-check-label" for="emailAgree">
                                    메일수신동의
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="thirdPartyAgree" name="thirdPartyAgree" [(ngModel)]="mbUser.thirdPartyAgree">
                                <label class="form-check-label" for="thirdPartyAgree">
                                    메일인증
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">설정</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" id="isBlock">
                                <label class="form-check-label" for="isBlock">
                                    접속차단
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-dot-circle-o"></i> 저장</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="del()"><i class="fa fa-ban"></i> 삭제</button>
                <!--<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>-->
            </div>
        </div>

        <!--<div class="card">
            <div class="card-header">
                <strong>Form</strong>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Static</label>
                        <div class="col-md-9">
                            <p class="form-control-static">Username</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Text Input</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input" name="text-input" class="form-control"
                                   placeholder="Text">
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                        <div class="col-md-9">
                            <input type="email" id="email-input" name="email-input" class="form-control"
                                   placeholder="Enter Email" autocomplete="email">
                            <span class="help-block">Please enter your email</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="password-input">Password</label>
                        <div class="col-md-9">
                            <input type="password" id="password-input" name="password-input" class="form-control"
                                   placeholder="Password" autocomplete="current-password">
                            <span class="help-block">Please enter a complex password</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Date Input</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" name="date-input"
                                   placeholder="date">
                            <span class="help-block">Please enter a valid date</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="disabled-input">Disabled Input</label>
                        <div class="col-md-9">
                            <input type="text" id="disabled-input" name="disabled-input" class="form-control"
                                   placeholder="Disabled" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Textarea</label>
                        <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                          placeholder="Content.."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Select</label>
                        <div class="col-md-9">
                            <select id="select1" name="select1" class="form-control">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select2">Select Large</label>
                        <div class="col-md-9">
                            <select id="select2" name="select2" class="form-control form-control-lg">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select3">Select Small</label>
                        <div class="col-md-9">
                            <select id="select3" name="select3" class="form-control form-control-sm">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="disabledSelect">Disabled Select</label>
                        <div class="col-md-9">
                            <select id="disabledSelect" class="form-control" disabled>
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="multiple-select">Multiple select</label>
                        <div class="col-md-9">
                            <select id="multiple-select" name="multiple-select" class="form-control" size="5"
                                    multiple>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                                <option value="4">Option #4</option>
                                <option value="5">Option #5</option>
                                <option value="6">Option #6</option>
                                <option value="7">Option #7</option>
                                <option value="8">Option #8</option>
                                <option value="9">Option #9</option>
                                <option value="10">Option #10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Radios</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radios" id="radio1"
                                       value="option1" checked>
                                <label class="form-check-label" for="radio1">
                                    Option 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radios" id="radio2"
                                       value="option2">
                                <label class="form-check-label" for="radio2">
                                    Option 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radios" id="radio3"
                                       value="option3">
                                <label class="form-check-label" for="radio3">
                                    Option 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="inline-radios">Inline Radios</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1"
                                       value="option1">
                                <label class="form-check-label" for="inlineRadio1">One</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2"
                                       value="option2">
                                <label class="form-check-label" for="inlineRadio2">Two</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio3"
                                       value="option3">
                                <label class="form-check-label" for="inlineRadio3">Three</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Checkboxes</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                    Option 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">
                                    Option 2
                                </label>
                            </div>
                            <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" value="option1" id="checkbox3">
                                <label class="form-check-label" for="checkbox3">
                                    Option 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Inline Checkboxes</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="checkbox" id="inline-checkbox1"
                                       value="option1">
                                <label class="form-check-label" for="inline-checkbox1">One</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="checkbox" id="inline-checkbox2"
                                       value="option2">
                                <label class="form-check-label" for="inline-checkbox2">Two</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="checkbox" id="inline-checkbox3"
                                       value="option3">
                                <label class="form-check-label" for="inline-checkbox3">Three</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-input">File input</label>
                        <div class="col-md-9">
                            <input type="file" id="file-input" name="file-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-multiple-input">Multiple File input</label>
                        <div class="col-md-9">
                            <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong>Inline</strong> Form
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="if-email">Email</label>
                        <input type="email" id="if-email" name="if-email" class="form-control"
                               placeholder="Enter Email.." autocomplete="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="if-password">Password</label>
                        <input type="password" id="if-password" name="if-password" class="form-control"
                               placeholder="Enter Password.." autocomplete="current-password">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>-->
    </div>
</div>
